<header class="header-auth">
  <div class="container">
    @if( authService.isAuthenticated() ){
    <nav class="nav-auth">
      <span class="select-form"
        ><h2>Olá seja bem vindo {{ firstName }} ✨</h2>
      </span>

      <span class="balance-container">
        <span>
          <label>Selecione a conta </label>
          <select required class="select-header-auth">
            @for (item of accountList; track $index) {
            <option [value]="item.id">{{ item.accountName }}</option>
            }
          </select>
        </span>

        <span> <a routerLink="/cards"> 💳 Meus Cartões </a></span>

        <span class="balance-info">
          <p-button
            (onClick)="updateVisibility()"
            icon="pi {{ hidePassword ? 'pi-eye-slash' : 'pi-eye' }}"
            [rounded]="true"
            [text]="true"
          />
          <h2>
            @if(!hidePassword){

            {{ getBalance() }}
            }@else {
            {{ getBalanceVisibilityOff() }}
            }
          </h2>
        </span>

        <span>
          <p-menu #menu [model]="items" [popup]="true" />
          <p-button
            [text]="true"
            (onClick)="menu.toggle($event)"
            icon="pi pi-ellipsis-v"
          />
        </span>
      </span>
    </nav>
    } @else {
    <nav class="nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <button class="cta-button">Get Started</button>
    }
  </div>
</header>
