<mat-sidenav-container class="example-container">
  <!-- Sidebar (Menu Lateral) -->
  <mat-sidenav #sidenav mode="side" opened>
    <div class="balance-info">
      <span>Total</span>
      <h2>
        @if(!hidePassword){

        {{ getBalance() }}
        }@else {
        {{ getBalanceVisibilityOff() }}
        }
      </h2>
    </div>
    <div class="accounts">
      <div class="title">
        <h3>Minhas contas</h3>
        <button [text]="true" pButton icon="pi pi-plus"></button>
      </div>
      <ul>
        @for (item of this.accountList; track $index) {
        <li>
          <button (click)="selectUser(item)">
            <span class="account-name">{{ item.accountName }}</span>
            <span>
              R$
              {{ item.balance.toFixed(2) }}
            </span>
          </button>
        </li>
        }
      </ul>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <button
      pButton
      icon="pi pi-bars"
      class="menu-btn"
      (click)="sidenav.toggle()"
    ></button>

    <div class="content">
      <div class="navigate">
        <div class="container">
          <button (click)="this.navigateTo('home')" pButton [rounded]="true">
            Transações
          </button>
          <button
            (click)="this.navigateTo('analitycs')"
            pButton
            [rounded]="true"
          >
            Analitycs
          </button>
          <button (click)="this.navigateTo('cards')" pButton [rounded]="true">
            Cartões
          </button>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
