form {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  // Espaçamento uniforme




  div {
    display: flex;
    flex-direction: column;
    gap: .10rem;


  }

  // Responsividade

}