.td_saida {
  color: red !important;
}

.td_entrada {
  color: green !important;
}

.td_category {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    margin-left: 10px;
    width: 20px;
  }
}

.home {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  table {
    .mat-header-row {
      height: 32px;
    }

    .mat-header-cell {
      font-size: 12px;
      padding: 4px 8px;
    }



    th {
      background-color: #0e7a00 !important;
      text-align: left;
      vertical-align: middle;
    }
  }




  .filter-tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 20px 0px;
  }

  .categories-expenses {
    display: flex;
    margin: 10px 0px 20px 0px;

  }

  .header-home {

    display: flex;
    justify-content: space-between;
  }

  h2 {
    font-size: 1.8rem;
  }

  .cards-container {
    display: flex;

    margin: 0px 0px 20px 0px;

    .cards {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }


}