<div class="home">
  <app-form-create-transaction
    [account]="accountSelected"
    [createTransactionDialog]="createTransactionDialog"
    (closeDialog)="closeDialogCreate()"
  ></app-form-create-transaction>

  <app-form-edit-transaction
    [transaction]="this.selectedTransaction"
    [showDialogEditTransaction]="showDialogEditTransaction"
    (closeDialog)="closeDialogEdit()"
  ></app-form-edit-transaction>

  <div class="container">
    <div class="filter-tab">
      <p-floatLabel>
        <p-calendar
          id="dateRange"
          (onClose)="onDateSelect()"
          [(ngModel)]="rangeDates"
          selectionMode="range"
          [showIcon]="true"
          [readonlyInput]="false"
          placeholder="Selecione um período"
          inputId="date_range"
        />
        <label for="date_range">Selecione um período:</label>
      </p-floatLabel>

      <p-button
        id="creates-transaction"
        (onClick)="showDialogCreateTransaction()"
        label="Criar Transação"
      />
    </div>
    <div class="cards-container">
      <app-card-info
        [tipo]="'Saidas'"
        [value]="expenseValueOverSelectedPeriod"
        class="cards"
      >
      </app-card-info>
      <app-card-info
        [tipo]="'Entrada'"
        [value]="incomeValueOverSelectedPeriod"
        class="cards"
      >
      </app-card-info>
    </div>

    <div class="chart-container">
      <div class="chart-dailyExpense">
        <h2>Histórico de Gastos Diários</h2>
        <p-chart
          class="bar"
          type="bar"
          [data]="dataDailyExpense"
          [options]="optionsDailyExpense"
          width="100%"
        />
      </div>
      <div class="chart-Category">
        <h2>Histórico de Gastos por categoria</h2>
        <p-chart
          class="pie"
          type="pie"
          [data]="dataByCategory"
          [options]="optionsByCategory"
          width="100%"
        />
      </div>
    </div>

    @if (this.categoryExpenses.length == 0) { } @else {
    <h2>Gastos por categoria:</h2>
    <div class="categories-expenses">
      @for (item of this.categoryExpenses; track $index) {
      <app-category-expending-values
        [category]="item"
      ></app-category-expending-values>
      }
    </div>
    }

    <div>
      <div class="transactionList">
        <h2>Histórico de transações:</h2>
        <p-table [value]="pageResponse.content" tableStyleClass="table_test">
          >
          <ng-template pTemplate="header">
            <tr>
              <th style="background-color: rgb(233, 233, 233)">Valor R$</th>
              <th>Valor Original</th>
              <th style="background-color: rgb(233, 233, 233)">Descrição</th>
              <th>Data</th>
              <th style="background-color: rgb(233, 233, 233)">Categoria</th>
              <th style="background-color: rgb(233, 233, 233)">Opções</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-element>
            <tr>
              <td>
                <ng-container *ngIf="element.type === 'EXPENSE'">
                  <span class="td_saida">
                    -{{ element.value.toFixed(2).replace(".", ",") }}
                  </span>
                </ng-container>
                <ng-container *ngIf="element.type === 'INCOME'">
                  <span class="td_entrada"
                    >{{ element.value.toFixed(2).replace(".", ",") }}
                  </span>
                </ng-container>
              </td>

              <td>
                <ng-container
                  *ngIf="element.valueInBaseCurrency !== null; else noValue"
                >
                  {{
                    element.valueInBaseCurrency.toFixed(2) +
                      " " +
                      element.currency
                  }}
                </ng-container>
                <ng-template #noValue>-</ng-template>
              </td>

              <td>{{ element.description }}</td>

              <td>{{ element.date | date : "dd/MM/yyyy HH:mm" }}</td>
              <td>
                <span class="td_category">
                  {{ element.category.name }}
                  <img [src]="element.category.icon" alt="" />
                </span>
              </td>
              <td>
                <p-button
                  text
                  (onClick)="option.toggle($event)"
                  icon="pi pi-ellipsis-v"
                  [rounded]
                ></p-button>
                <p-menu
                  #option
                  [model]="getItems(element)"
                  [popup]="true"
                  appendTo="body"
                ></p-menu>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <p-paginator
          (onPageChange)="onPageChange($event)"
          [rows]="pageResponse.page.size"
          [totalRecords]="pageResponse.page.totalElements"
          [rowsPerPageOptions]="[10, 20, 30]"
        />
      </div>
    </div>
  </div>
</div>
