// @import 'src/styles/material-overrides';

// @include table-overrides((
//   background-color: orange,
//   header-headline-color: red,
// ));



.home {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  table {
    .mat-header-row {
      background-color: red($color: #db2f2f);
      height: 32px;
      /* Altura reduzida do cabeçalho */
    }

    .mat-header-cell {
      font-size: 12px;
      /* Tamanho da fonte menor */
      padding: 4px 8px;
      /* Reduz o espaçamento interno */
    }

    margin: 0px 30px 0px 30px;

    td {
      text-align: left;
      vertical-align: middle;
    }

    th {
      text-align: left;
      vertical-align: middle;
    }
  }

  .container {
    .categories-expenses {
      display: flex;
      margin: 10px 0px;
    }

    .header-home {

      display: flex;
      justify-content: space-between;

      .balance-info {
        color: #0e7a00;
      }

    }

    width: 90%;
    max-width: 1200px;
    padding: 0 20px;

    h2 {
      font-size: 1.8rem;
    }

    .cards-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      /* Uma única coluna responsiva */
      gap: 15px;
      /* Espaçamento entre os cartões */
      justify-content: center;
      /* Centraliza os itens */
      align-items: stretch;
      /* Mantém a altura igual */
      padding: 20px;
      /* Espaçamento interno */

      margin: 0 auto;
      /* Centraliza horizontalmente */

      .cards {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }

  }
}